label[animt="aimfocus"]{position: relative;display: block;}
label[animt="aimfocus"] input[type="text"]{width: 100%;min-height: 15px;margin: 0;box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
label[animt="aimfocus"] input[type="text"]:focus{outline: none;}
label[animt="aimfocus"] div[class*="animtCorner-"]{
	opacity: 0;
	position: absolute;
	background-color: red;

	transition:all .1s ease-out 0s; 
	-ms-transition:all .1s ease-out 0s; 
	-moz-transition:all .1s ease-out 0s; 
	-webkit-transition:all .1s ease-out 0s;
}
label[animt="aimfocus"] .animtCorner-lt{min-width: 10px;height: 1px;top: -6px;left: -6px;}
label[animt="aimfocus"] .animtCorner-lt-l{content: '';min-height: 10px;width: 1px;top: -6px;left: -6px;}
label[animt="aimfocus"] .animtCorner-rt{min-width: 10px;height: 1px;top: -6px;right: -6px;}
label[animt="aimfocus"] .animtCorner-rt-l{content: '';min-height: 10px;width: 1px;top: -6px;right: -6px;}
label[animt="aimfocus"] .animtCorner-rb{min-width: 10px;height: 1px;bottom: -6px;left: -6px;}
label[animt="aimfocus"] .animtCorner-rb-l{content: '';min-height: 10px;width: 1px;bottom: -6px;left: -6px;}
label[animt="aimfocus"] .animtCorner-lb{min-width: 10px;height: 1px;bottom: -6px;right: -6px;}
label[animt="aimfocus"] .animtCorner-lb-l{content: '';min-height: 10px;width: 1px;bottom: -6px;right: -6px;}
label[animt="aimfocus"] input[type="text"]:focus ~ div[class*="animtCorner-"]{
	opacity: 1;
	/*animation: opacity 1s infinite ease-in-out;
	-moz-animation: opacity 1s infinite ease-in-out;
	-webkit-animation: opacity 1s infinite ease-in-out;
	animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-webkit-animation-fill-mode: both;*/
}
label[animt="aimfocus"] input[type="text"]:focus ~ .animtCorner-lt{min-width: 7px;top: -3px;left: -3px;}
label[animt="aimfocus"] input[type="text"]:focus ~ .animtCorner-lt-l{min-height: 7px;top: -3px;left: -3px;}
label[animt="aimfocus"] input[type="text"]:focus ~ .animtCorner-rt{min-width: 7px;top: -3px;right: -3px;}
label[animt="aimfocus"] input[type="text"]:focus ~ .animtCorner-rt-l{min-height: 7px;top: -3px;right: -3px;}
label[animt="aimfocus"] input[type="text"]:focus ~ .animtCorner-rb{min-width: 7px;bottom: -3px;left: -3px;}
label[animt="aimfocus"] input[type="text"]:focus ~ .animtCorner-rb-l{min-height: 7px;bottom: -3px;left: -3px;}
label[animt="aimfocus"] input[type="text"]:focus ~ .animtCorner-lb{min-width: 7px;bottom: -3px;right: -3px;}
label[animt="aimfocus"] input[type="text"]:focus ~ .animtCorner-lb-l{min-height: 7px;bottom: -3px;right: -3px;}
@keyframes opacity{
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}
@-moz-keyframes opacity{
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}
@-webkit-keyframes opacity{
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}